<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" th:href="@{/styles.css}">
    <title>Reed Catalog</title>
</head>

<body>
    <div class="container">
        <a class="button-secondary" th:href="@{/}">Home</a>
        <div class="table-container">
            <h1>List of all customers</h1>
            <figure class="fig-table">
                <table>
                    <thead>
                    <tr>
                        <th class="cellType-index">#</th>
                        <th>name</th>
                        <th class="cellType-num">Balance</th>
                    </tr>
                    </thead>
                    <tbody>
                    <th:block th:each="customer : ${customerList}">
                        <tr th:object="${customer}">
                            <td class="cellType-index" th:text="*{id}"></td>
                            <td><a th:text="*{name}" th:href="|@{/customer/profile}?id=*{id}|"></a></td>
                            <td class="cellType-num" th:text="*{balance}"></td>
                        </tr>
                    </th:block>
                    </tbody>
                </table>
            </figure>
        </div>
    </div>
</body>

</html>