<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" th:href="@{/styles.css}">
    <title>Reed Catalog</title>
</head>

<body>
    <div class="container">
        <h1>Reed Catalog</h1>
        <h2>First log:</h2>
        <table>
            <thead>
                <tr>
                    <th>Date-Time</th>
                    <th>Event</th>
                    <th>Order no.</th>
                    <!--<th>Customer</th>-->
                    <th>Money exchange</th>
                    <th>Actual balance</th>
                </tr>
            </thead>
            <tbody>
                <th:block th:each="log : ${logList}">
                    <tr th:object="${log}">
                        <td th:text="*{dateTime}"></td>
                        <td th:text="*{event}"></td>
                        <td th:text="*{order.getId()}"></td>
                        <!--<td th:text="*{order.customer}"></td>-->
                        <td th:text="*{moneyExchange}"></td>
                        <td th:text="*{actualBalance}"></td>
                    </tr>
                </th:block>
            </tbody>
        </table>
    </div>
</body>

</html>
