<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" th:href="@{/styles.css}">
    <title>Reed Catalog</title>
</head>

<body>
    <div class="container">
        <h1>Reed Catalog</h1>
        <section><a class="button-secondary" th:href="@{/customer/customer-list}">List of Customers</a></section>
        <div class="table-container">
            <h2>Log:</h2>
            <figure class="fig-table">
                <table>
                    <thead>
                    <tr>
                        <th>Date-Time</th>
                        <th>Event</th>
                        <th class="cellType-num">Order no.</th>
                        <th>Customer</th>
                        <th class="cellType-num">Money exchange</th>
                        <th class="cellType-num">Actual balance</th>
                    </tr>
                    </thead>
                    <tbody>
                    <th:block th:each="log : ${logList}">
                        <tr th:object="${log}">
                            <td class=cellType-date th:text="*{dateTime}"></td>
                            <td th:text="*{event}"></td>
                            <td class="cellType-num" th:text="*{order}?*{order.id}:'-'"></td>
                            <td th:if="*{order}"><a th:text="*{order.customer.name}"
                                                    th:href="|@{/customer/profile}?id=*{order.customer.id}|"></a></td>
                            <td th:if="!*{order}">-</td>
                            <td class="cellType-num" th:text="*{moneyExchange}?*{moneyExchange}:'-'"></td>
                            <td class="cellType-num" th:text="*{actualBalance}"></td>
                        </tr>
                    </th:block>
                    </tbody>
                </table>
            </figure>
        </div>
    </div>
</body>

</html>