<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <link rel="stylesheet" th:href="@{/styles.css}" type="text/css">
    <title>Reed Catalog</title>
</head>

<body>
    <div class="container">
        <h1>Reed Catalog</h1>
        <section><a class="button-secondary" th:href="@{/partner-list/}">List of Partners</a></section>
        <div class="table-container">
            <h2>Log:</h2>
            <table>
                <thead>
                    <tr>
                        <th>Date-Time</th>
                        <th>Event</th>
                        <th>Order no.</th>
                        <th>Partner</th>
                        <th>Money exchange</th>
                        <th>Actual balance</th>
                    </tr>
                </thead>
                <tbody>
                    <th:block th:each="log : ${logList}">
                        <tr th:object="${log}">
                            <td th:text="${#temporals.format(log.dateTime, 'yyyy.MM.dd. HH:mm:SS', timezone)}"></td>
                            <td th:text="*{event}"></td>
                            <td th:text="*{eventId}?*{eventId}:'-'"></td>
                            <td th:if="*{partnerDTO}"><a th:href="|@{/partner/profile}?id=*{partnerDTO.id}|"
                                                         th:text="*{partnerDTO.name}"></a>
                            </td>
                            <td th:if="!*{partnerDTO}">-</td>
                            <td th:text="*{moneyExchange}?*{moneyExchange}:'-'"></td>
                            <td th:text="*{actualBalance}"></td>
                        </tr>
                    </th:block>
                </tbody>
            </table>
        </div>
    </div>
</body>

</html>
