<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <link rel="stylesheet" th:href="@{/styles.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/form-styles.css}" type="text/css">
    <title>Reed Catalog</title>
</head>

<body>
    <div class="container">
        <div class="form-container">
            <h1>Placing a new order</h1>
            <form th:action="@{/partner/new-order}" th:method="post" th:object="${newOrderForm}">
                <div class="input-group">
                    <label for="partner">Partner:</label>
                    <select id="partner" name="partnerId" th:field="*{partnerId}">
                        <option th:text="${partner.name()}" th:value="*{partnerId}"></option>
                    </select>
                </div>
                <div class="input-group">
                    <label for="date">Date of purchase:</label>
                    <input id="date" th:field="*{dateOfPurchase}"
                           th:value="*{#temporals.format(dateOfPurchase, 'yyyy-MM-dd HH:mm')}"
                           type="datetime-local">
                    <input id="timezone" th:field="*{timezone}" th:type="hidden"/>
                </div>
                <div class="input-group">
                    <label for="price">Total Price:</label>
                    <div>
                        <input id="price" required th:field="*{totalPrice}" type="number">
                        <span th:text="Ft"></span>
                    </div>
                    <label for="notes">Notes: </label>
                    <input id="notes" th:field="*{notes}" type="text">
                </div>
                <div class="button-container">
                    <button class="button-primary" type="submit">Place Order</button>
                </div>
            </form>
        </div>
    </div>
</body>

<script>
    // Set user's timezone on page load
    document.getElementById('timezone').value =
        Intl.DateTimeFormat().resolvedOptions().timeZone;
</script>
</html>
