<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <link rel="stylesheet" th:href="@{/styles.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/form-styles.css}" type="text/css">
    <title>Reed Catalog</title>
</head>

<body>
    <div class="container">
        <h1>Paying order</h1>
        <div class="form-container">
            <table>
                <thead>
                    <tr>
                        <th colspan="5">Order Details</th>
                    </tr>
                </thead>
                <tr>
                    <th>#</th>
                    <th>Date of purchase</th>
                    <th>Total Price</th>
                    <th>Amount to pay</th>
                    <th>Partner name</th>
                    <th>Notes</th>
                </tr>
                <tr th:object="${order}">
                    <td th:text="*{id}"></td>
                    <td th:text="${#temporals.format(order.dateOfPurchase, 'yyyy-MM-dd', paymentForm.timezone)}"></td>
                    <td th:text="*{totalPrice}"></td>
                    <td th:text="*{amountToPay}"></td>
                    <td th:text="*{partner.name}"></td>
                    <td th:text="*{notes}"></td>
                </tr>
            </table>
            <form action=# th:action="@{/partner/pay-order}" th:method="post" th:object="${paymentForm}">
                <input style="display: none" th:field="*{orderId}" th:value="*{orderId}" type="number">
                <div class="input-group">
                    <label for="date">Date of transaction:</label>
                    <input id="date" th:field="*{transactionDateTime}" th:value="*{transactionDateTime}"
                           type="datetime-local">
                    <input id="timezone" th:field="*{timezone}" th:type="hidden"/>
                </div>
                <div class="input-group">
                    <label for="paid">Paid:</label>
                    <div>
                        <input id="paid" required th:field="*{paymentAmount}" type="number">
                        <span th:text="Ft"></span>
                    </div>
                </div>
                <div class="button-container">
                    <button class="button-primary" type="submit">Confirm Payment</button>
                </div>
            </form>
        </div>
    </div>
</body>

<script>
    // Set user's timezone on page load
    document.getElementById('timezone').value =
        Intl.DateTimeFormat().resolvedOptions().timeZone;
</script>
</html>
